.faceSection {
  position: relative;
  border: green 2px solid;
  width: 500px;

  .face {
    width: 100%;
  }

  .eyeStyles {
    width: 25%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 190px;
    left: 254px;
  }

  .moustache {
    width: 105px;
    height: 80px;
    transform: rotate(5deg);
    position: absolute;
    right: 145px;
    top: 230px;
  }
}
